html {
    background: aqua;
    font-family:sans-serif;
    font-kerning: auto;
}

img { 
  border: 15px solid pink;
  padding:1px;
  display:block;
  margin-left:auto;
  margin-right:auto
}
  
a:hover {
  text-decoration: line-through;
}
h1{ 
  text-align: center; 
  border-bottom: solid red;
}

nav{
  text-align: center;
}
body{
  border: 5px dotted gold;
  padding: 30px;
}


